html {
    background-color:deepskyblue;
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  }
  img {
    display: block;
    margin: 0 auto;
  }
  
  body {
    width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
  h1 {
    font-size: 60px;
    margin: 0;
    padding: 20px 0;
    color: #ff0000;
    text-shadow: 3px 3px 1px black;
    text-align: center;
  }
  
  h2 {
    font-size: 49px;
  }
  h3 {
    font-size: 38px;
  }
  h4 {
    font-size: 27px;
  }
  p,li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  